@inject SignInManager<User> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="text-center">
        <h1 class="display-4">Welcome <b>@User.Identity.Name</b> to David's List</h1>
        <h2>Your best source for all things movies!</h2>
    </div>
}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome <b>Guest</b> to David's List</h1>
        <h2>Your best source for all things movies!</h2>
    </div>
}
