<div style="background-color: darkslategray" class="jumbotron">
    <h1 style="text-align:center; " class="display-4">Here are your search results:!</h1>
</div>

<ol class="list">
    @foreach (var movie in Model)
    {
        <li>
            <div class="topRated">
                <a href="/MovieDetails?id=@movie.MoviePath">
                    <img class="thumbnailPic" src="@movie.ImgUrl">
                </a>
                <h1>@movie.Title</h1>
                <h3>Relase Date: @movie.Year</h3>
                <partial name="_ButtonsPartial" model="@movie.MoviePath" />
            </div>
        </li>
    }
</ol>