@if (!Model.IsSeen)
{
    <a title="I have seen this movie!" href="/Mark/Seen?id=@Model.MoviePath.ToString()"><img src="~/Icons/seen.png" /></a>
}
@if (!Model.IsLiked)
{
    <a title="I like this movie!" href="/Mark/Like?id=@Model.MoviePath.ToString()"><img src="~/Icons/Add.png" /></a>
}

<a title="I dislike this movie!" href="/Mark/Dislike?id=@Model.MoviePath.ToString()"><img src="~/Icons/remove.png" /></a>

<a title="I love this movie!" href="/Mark/Favourite?id=@Model.MoviePath.ToString()"><img src="~/Icons/favHeartNot.png" /></a>

<a title="I hate this movie!" href="/Mark/Flagg?id=@Model.MoviePath.ToString()"><img src="~/Icons/trash.png" /></a>
