    <a title="I have seen this movie!" href="/Mark/Seen?id=@Model"><img src="~/Icons/seen.png" /></a>
    <a title="I like this movie!" href="/Mark/Like?id=@Model"><img src="~/Icons/Add.png" /></a>
    <a title="I dislike this movie!" href="/Mark/Dislike?id=@Model"><img src="~/Icons/remove.png" /></a>
    <a title="I love this movie!" href="/Mark/Favourite?id=@Model"><img src="~/Icons/favHeartNot.png" /></a>
    <a title="I hate this movie!" href="/Mark/Flagg?id=@Model"><img src="~/Icons/trash.png" /></a>
