@inject SignInManager<User> SignInManager

<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
            <a class="nav-link text-white" href="User/MyProfile">My Profile</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" >
            <a class="nav-link text-white" href="/User/Logout">LogOut</a>
        </form>
    </li>
}
else
{
    <li class="nav-item">
        <a class="nav-link text-white" href="/User/Register">Register</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-white" href="/User/Login">Login</a>
    </li>
}
</ul>
