<nav id="sidebar">
   <ul class="list-unstyled components">
        <li id="aDets" class="active">
            <a  href="/MyProfile">Account Details</a>
        </li>
        <li id ="upDets">
            <a  href="/MyProfile/UpdateDetails">Update Account Details</a>
        </li>
        <li id="genPref">
            <a  href="/MyProfile/Preferences">Preferences</a>
        </li>
    </ul>
</nav>