<nav id="sidebar">
   <ul class="list-unstyled components">
        <li class="active">
            <a href="/MyProfile">Account Details</a>
        </li>
        <li>
            <a href="/MyProfile/UpdateDetails">Update Account Details</a>
        </li>
        <li>
            <a href="/MyProfile/Prefrences">Preferences</a>
        </li>
        <li>
            <a href="#pageSubmenu" data-toggle="collapse" class="dropdown-toggle">Movie History</a>
            <ul class="collapse list-unstyled-dropdown" id="pageSubmenu">

                <li>
                    <a href="/MyProfile/Seen">Seen</a>
                </li>
                <li>
                    <a href="/MyProfile/Favourites">Favourites</a>
                </li>
                <li>
                    <a href="/MyProfile/Disliked">Disliked</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>