@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Access denied.</h1>

<p>
    You cannot access this page without logging into your account first. Please <a href="/User/Login"><b>log in here</b></a> or if you do not have an account, <a href="/User/Login"><b>register here</b></a>...
</p>
