@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<p>
    You cannot access this page without logging into your account first. Please <a href="/User/Login"><b>log in here</b></a> or if you do not have an account, <a href="/User/Login"><b>register here</b></a>...
</p>
