<div>
    <a title="I have seen this movie!" href="/MarkAsSeen?id=@Model"><img src="~/Icons/seen.png" /></a>
    <a title="I like this movie!" href="/MarkAsSeen?id=@Model"><img src="~/Icons/Add.png" /></a>
    <a title="I dislike this movie!" href="/MarkAsSeen?id=@Model"><img src="~/Icons/remove.png" /></a>
    <a title="I love this movie!" href="/MarkAsSeen?id=@Model"><img src="~/Icons/favHeartNot.png" /></a>
    <a title="I hate this movie!" href="/MarkAsSeen?id=@Model"><img src="~/Icons/trash.png" /></a>
</div>