

.sidebar-box{
    margin-right:100px;
}
#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 2px solid #616970;
}

#sidebar ul p {
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

    #sidebar ul li a:hover {
        background: #616970;
        color: White;
        text-decoration: none;
    }

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: white;
    background: red;
}

a[data-toggle="collapse"] {
    position: relative;
}

a {
    color: white;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
}

.list-unstyled-dropdown {
    padding-left: 20px;
    list-style:none;
}
