<a href="RandomMovieGenerator/Surprise" class="btn btn-primary btn-lg btn-block rnd-btn" role="button" aria-disabled="true">SURPRISE ME!</a>
<p class="rnd-btn-description">Get suggested a fully random movie based on no specific filters.</p>

<a href="RandomMovieGenerator/Preferred" class="btn btn-primary btn-lg btn-block rnd-btn" role="button" aria-disabled="true">SOMETHING I LIKE!</a>
<p class="rnd-btn-description">Get suggested a random movie based on your favourite genres.</p>

<a href="RandomMovieGenerator/Specific" class="btn btn-primary btn-lg btn-block rnd-btn" role="button" aria-disabled="true">SOMETHING SPECIFIC!</a>
<p class="rnd-btn-description">Get suggested a random movie based on a specifc genre you choose.</p>
