<a href="#" class="btn btn-primary btn-lg btn-block" role="button" aria-disabled="true">SURPRISE ME</a>

<a href="#" class="btn btn-primary btn-lg btn-block" role="button" aria-disabled="true">SOMETHING I LIKE</a>

<a href="RandomMovieGenerator/Specific" class="btn btn-primary btn-lg btn-block" role="button" aria-disabled="true">SOMETHING SPECIFIC</a>