<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <ul class="list-unstyled components">
            <li class="active">
                <a href="#homeSubmenu">Account Details</a>
            </li>
            <li>
                <a href="#">Update Account Details</a>
            </li>
            <li>
                <a href="#">Preferences</a>
            </li>
            <li>
                <a href="#">Favourites</a>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" class="dropdown-toggle">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">Favourites</a>
                    </li>
                    <li>
                        <a href="#">Seen</a>
                    </li>
                    <li>
                        <a href="#">Disliked</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">


    </div>
</div>