<div class="wrapper">
    <div class="sidebar-box">
        <partial name="_MyAccountSidebarPartial" />
    </div>

    <div id="content">
        <h1 style="text-align:center">Change your preferred genres.</h1>
        <partial name="_PreferencesPartial" model="@Model" />
    </div>
</div>
