<h1 style="text-align:center">Please help us improve your experience, by selecting your favourite genres. This way our suggestions can be relevant to your specific needs!</h1>
<partial name="_PreferencesPartial" model="@Model" />

