<h1 style="text-align:center">Please help us improve your experience, by selecting your favourite genres. This way our suggestions can be relevant to your specific needs!</h1>
<h4 style="text-align:center; color:gray">This can later be changed at any time in the "My Profile" page. Don't be afraid to experiment and try out new genres!</h4>
<partial name="_PreferencesPartial" model="@Model" />

